.recording__wrap {
    display: flex;
    flex-direction: column;

    position: relative;
}

.recording {
    flex-grow: 1;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 5rem;
}

.recording__textarea {
    min-width: 30%;
    max-width: 60%;

    margin-top: 3rem;
    border: 1px solid #ffeba7;
    border-radius: 2rem;
}


.textarea {
    display: inline-block;
    padding: 2rem;
    font-size: 2rem;
    
    text-align: justify;
    /* word-break: break-all; */
}

.recording__button--wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.recording__button {
    margin: 4rem 2rem;
    width: 50px;
}
